---
title: "Collections"
layout: default
permalink: "/collections.html"
---
<!--copied from categories-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4" >Collections</h1>
            
        {% for category in site.categories %}

        {% comments %}  [1][1]は変更する必要が出てくる可能性がある． {% endcomments %}


        {% if category[1][1].tags contains "議事録" %}{% continue %}{% else %}
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}" style="color: orange"><span>{{ category[0] }}</span></h4>
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
        {% endif %}
        {% endfor %}

        </div>
        
    </div>
</div>