---
title: "タグ一覧"
layout: default
permalink: "/tags.html"
---
<div class="container">
  <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative h-100 tofront">
      <h2 class="font-weight-bold spanborder"><span>{{page.title}}</span></h2>
          
  </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            
        {% for tag in site.tags %} 
        <h3 class="font-weight-bold spanborder text-capitalize" id="{{ tag[0] | downcase }}" style="color: steelblue;"><span>{{ tag[0] }}</span></h3>
            
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

        {% endfor %}

        </div>
        
        
    </div>
</div>