<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/activity.html">活動記録</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/topics.html">記事一覧</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/calendar.html">カレンダー</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">メール</a>
</li>
<!--
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">部員</a>
</li>
-->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">サークル情報</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
</li>
-->