<div class="container">
    <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative h-100 tofront">
        <div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
            <div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
                <p class="text-uppercase font-weight-bold">
                    <span class="catlist">
                    {% for category in page.categories %}
                        <a class="sscroll text-cyan" href="{{site.baseurl}}/categories.html#{{ category | downcase }}" >{{ category | downcase }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </p>
                <h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
                
                    <div class="text-muted d-block mt-1" style="text-align: right;">
                        <i class="fas fa-user"></i> {{ author.name }}  |  <i class="far fa-calendar-alt"></i> {{ page.date | date: '%b %d, %Y' }}</div>
                <!-- Tags -->
                <div class="d-flex bd-highlight mb-4">
                    <div class="taglist">
                    {% for tag in page.tags %}
                    <a class="sscroll btn btn-cyan btn-sm font-weight-bold" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag | downcase }}</a>
                    {% endfor %}
                    </div>
                </div>
                
            </div>
            {% if page.image %}
            <div class="col-md-6 pr-0 align-self-center">
                <img class="rounded" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}"  style="max-height: 200pt; width: auto;">
            </div>
            {% endif %}
        </div>
    </div>
</div>